*{
	margin: 5px;
	padding: 5px;
	font-family: 'Roboto', sans-serif;
}

div.container{

	width: 1160px;
	margin: 0 auto;  
	width: 360px;
	height: 550px;
	border:1px black solid;	
} 




div.header span{      
	color: #3598fe;   
	  margin-left: 80px;
 	 

}
div.header i{
	 
}

div.log button{
	color:white;
	background: #3598fe;
	border:none;
	border-radius: 2px;
	width: 300px;	
	margin-left:20px;
	height:40px;
	cursor: pointer;
}
div.log button:hover{
	background: #7bbafb;

}

div.onboard button{
	color:white;
	background: #3598fe;
	border:none;
	border-radius: 2px;
	width: 300px;	
	margin-left:20px;
	height: 40px;
	cursor: pointer;
}

div.onboard button:hover{
	background: #7bbafb;

}
div.subheader{
	color:gray;
	font-size: 13px;
	margin:5px;
}

div.level{
	color:gray;
	font-size: 13px;
	margin-right: 0px;

}

div.line{

    margin-top: 9px;
    margin-left: -3px;
    margin-right: 10px;
    padding-top: 9px;
    border-top: 1px solid #dfe2e8;
    width: 357px;
}



div.task{
	color:gray;
	font-size: 13px;
}	

div.container i{
	color:#a8c7eb;
}


div.nline{
	 margin-top: 9px;
    margin-left: -3px;
    margin-right: 10px;
    padding-top: 9px;
    border-top: 1px solid #dfe2e8;
    width: 357px;
}


div.ssubheader{
	margin-left: -5px;
}
div.add button{
  color:gray;
  width: 300px;
  background-color: #fff;
  border-style:  dashed;
  border-width: 1px;
  border-color: #d4dfe4;
  margin-left:20px;
  height: 50px;
}
div.add button:hover{
	cursor: pointer;
	background: #7bbafb;

}



div.add i{

	color:#3598fe;

}

div.priority select{
	color:#3598fe;
 	background: #f5f9fb; 
    border-radius: 3px;
    margin-right: 2%;
    border-width: 1px;	
    margin-bottom: 20px;
    margin-left: 15px;
    width: 300px;
    height: 30px;

}

div.priority i{
	background: red;
	color:red;
}


option.two{
	color: red;
}

.select {
	background: url("");
}

.myfa {
	font-family: FontAwesome;
	color: #3598fe;
}